# Question 1
---

## Summing Odd

In [1]:
n = int(input("Enter the value of n:"))
sum = 0 
for i in range(1, n , 2):
    sum += (i + 3)
print("The sum is {}".format(sum))

Enter the value of n: 5

The sum is 10

### Product

In [3]:
n = int(input("Enter the value of n:"))
prod = 3 
for i in range(2, n , 2):
    prod = prod * (i + 3)
print("The Product of even terms for n which is equal to {}  is {} ".format(n,prod))

Enter the value of n: 5

The Product of even terms for n which is equal to 5  is 105

---
# Question 2
---

In [5]:
days = int(input("Please Enter the day:"))
if days == 0:
    print("Sunday - Weekend")
elif days == 1:
    print("Monday - Working day")
elif days == 2:
    print("Tuesday - Working day")
elif days == 3:
    print("Wednesday - Working day")
elif days == 4:
    print("Thursday - Working day")
elif days == 5:
    print("Thursday - Working day")
elif days == 6:
    print("Saturday - Weekend")
else:  
     print("The day must be between  0 and 6 ")

Please Enter the day: 1

Monday - Working day

---
# Question 3
---

In [7]:
month = str(input("Please Enter the month: "))
days_in_month = {
    "January": 31, "February": 28, "March": 31, "April": 30, "May": 31,
    "June": 30, "July": 31, "August": 31, "September": 30, "October": 31,
    "November": 30, "December": 31
}

if month in days_in_month:
    print("Month of {} has {} days".format(month, days_in_month[month]))
else:
    print("Invalid month entered. Please enter a valid month name.")

Please Enter the month:  February

Month of February has 28 days

---
# Question 4 
---

### For Loop

In [9]:
i = 0
for i in range(3):
    print("Jean de Dieu")

Jean de Dieu
Jean de Dieu
Jean de Dieu

### While Loop

In [13]:
i = 1
while i <= 3:
    print("Jean de Dieu")
    i = i + 1

Jean de Dieu
Jean de Dieu
Jean de Dieu

---
# Question 5
---

###  Fibonacci sequence

In [30]:
a0 = int(input("Enter the first number (a0): "))
a1 = int(input("Enter the second number (a1): "))

fib0 = a0
fib1 = a1
print("The first 15 terms of the Fibonacci sequence are:")
print(fib0)
print(fib1)
i = 2
while i < 15: 
    fib_next = fib0 + fib1
    print(fib_next)
    fib0, fib1 = fib1, fib_next
    i += 1

Enter the first number (a0):  1
Enter the second number (a1):  2

The first 15 terms of the Fibonacci sequence are:
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

---
# Question 6 
---

In [38]:
x0 = int(input("Enter the first number (x0): "))
x1 = int(input("Enter the second number (x1): "))
print("The  first 30 terms of the sequence x_next = 0.5 * (x1 + 6 * x0) are:")
print(x0)
print(x1)
i = 2
while i < 30: 
    x_next = x_next = 0.5 * (x1 + 6 * x0)
    print(x_next)
    x0, x1 = x1, x_next
    i += 1

Enter the first number (x0):  1
Enter the second number (x1):  2

The  first 30 terms of the sequence x_next = 0.5 * (x1 + 6 * x0) are:
1
2
4.0
8.0
16.0
32.0
64.0
128.0
256.0
512.0
1024.0
2048.0
4096.0
8192.0
16384.0
32768.0
65536.0
131072.0
262144.0
524288.0
1048576.0
2097152.0
4194304.0
8388608.0
16777216.0
33554432.0
67108864.0
134217728.0
268435456.0
536870912.0

---
# Question 7
---

In [50]:
year = int(input("Enter the year you want to check:"))
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("The year of {} is a leap year".format(year))
else:
    print("The year of is not leap year".format(year))

Enter the year you want to check: 2025

The year of is not leap year

---
# Question 8
---

## SubQuestion a

### For Loop

In [8]:
n = int(input("Enter the value of n :"))
sum_sq = 0
for i in range(1, n+1):
    sum_sq += i**2
print("Sum of squares of the first {} natural numbers is {}".format(n, sum_sq))

Enter the value of n : 10

Sum of squares of the first 10 natural numbers is 385

### While Loop

In [10]:
n = int(input("Enter the value of n :"))
sum_sq = 0
i = 1
while i <= n:
    sum_sq += i**2
    i += 1
print("Sum of squares of the first {} natural numbers is {}".format(n, sum_sq))

Enter the value of n : 10

Sum of squares of the first 10 natural numbers is 385

## SubQuestion b

### For Loop

In [20]:
M = int(input("Enter the value of M :"))
sum_sq = 0

for n in range(1, M+1):
    sum_sq += n**2
    if sum_sq >= M:
        break
print("Smallest n such that sum of squares is ≥ {}".format(n))

Enter the value of M : 12

Smallest n such that sum of squares is ≥ 3

### While Loop

In [22]:
M = int(input("Enter the value of M :"))
sum_sq= 0
n = 1
while sum_sq < M:
    sum_sq += n**2
    if sum_sq >= M:
        break
    n += 1

print("Smallest n such that sum of squares is ≥ {}".format(n))

Enter the value of M : 12

Smallest n such that sum of squares is ≥ 3

---
# Question 10
---

In [26]:
n = int(input("Enter an integer between 0 and 9: "))
while n < 0 or n > 9:
    print("Please enter a valid number between 0 and 9.")
    n = int(input("Enter an integer between 0 and 9: "))

N = int(input("Enter a natural number N: "))
while N < 1:
    print("Please enter a valid natural number .")
    N = int(input("Enter a natural number N: "))

for i in range(1, N + 1):
    print(f"{n} x {i} = {n * i}")

Enter an integer between 0 and 9:  3
Enter a natural number N:  5

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15